@model CustomerDataRecord.Models.Customer

<div class="container  center jumbotron">

    <div class="alert alert-info fade in">

        <a href="#" class="close" data-dismiss="alert">&times;</a>

        <strong>Note!</strong> <span>Are you sure you want to delete this customer?</span>
    </div>
    <hr />
    <div class="col-md-10 col-md-offset-2">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Countrry)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Countrry)
            </dd>

        </dl>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="col-md-10 col-md-offset-2">
        <table class="center">
            <tr>
                <td>
                    <div class="form-actions no-color col-md-2 col-md-offset-2">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                </td>
                <td>
                    <div class=" col-md-offset-2 col-md-2" id="backtolist">
                        <a href="@Url.Action("Index")" class="btn btn-default"> Back to List</a>
                    </div>
                </td> 
</tr>
               
            </table>
</div>
        }
    </div>

