@model CustomerDataRecord.Models.Employees

<div class="container empdetailsbox ">
    <div style=" background-color:gainsboro; border-radius:10px; border: 1px solid red">
        <h3 class="thcenter">Employee Details</h3>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DepName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DepName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HireDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HireDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Salary)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Salary)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Region)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Region)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Coountry)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Coountry)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Company.CompanyName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Company.CompanyName)
                    </dd>

                </dl>
            </div>
            <div class="col-md-4">
                <dl class=" dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Photo)
                    </dd>

                </dl>


            </div>
        </div>

    </div>
    @*<p class="pull-right">
            @Html.ActionLink("Back to List", "Index", "Employees", null, new { @class = "btn btn-primary " })
        </p>*@
</div>
<script src="~/Scripts/DetailsViews.js"></script>
